# Ignore everything
/*

# also in subdirectories
/*/

# Except for (add what you want to track)
!README.md
!.gitignore
!*.sublime-project
!LICENSE.txt

!/Data/
!/R/
!/Output/
!/Reports/

# Ignore everything in freeze (even if in Except)
freeze/
.DS_Store
.Rproj.user

Data/Bulla_et_al_2016-Supplementary Data 4 - Data/Jiang_et_al_2013_Database+of+assortative+mating+in+animals.xls
Data/Jiang_et_al_2013_Database+of+as…ing+in+animals_literature+cited.docx
R/DAT_bout.R
R/DAT_fm_multi.R
.gitignore