# Ignore everything
/*

# also in subdirectories
/*/

# Except for (add what you want to track)
!README.md
!.gitignore
!*.sublime-project
!LICENSE.txt

!/Data/
!/R/
!/Output/
!/Reports/

# Ignore everything in freeze (even if in Except)
freeze/
.DS_Store
.Rproj.user

Data/m_tlb_s2.Rdata
Data/m_tlbi_s2.Rdata
Data/m_tlbi.Rdata
Data/m_tlb.Rdata
Data/m_tlbi_s.Rdata
Data/m_tlb_s.Rdata
Data/mi_s_time.Rdata
Data/mi_time.Rdata
mi_time.Rdata

EXP_cold_part_files/
zDraft_files/
EXP_timing_files/
EXP_relaInv_bout_files/
EXP_relative_inv_files/
EXP_relaInv_files/
EXP_bout_html_filles/
EXP_bout_files/

Reports/EXP_relaInv_files/
Reports/EXP_cold_part_files/
Reports/EXP_timing_files/
Reports/zDraft_files/
Reports/EXP_relaInv_bout_files/
Reports/EXP_relative_inv_files/
Reports/EXP_bout_html_files/
Reports/EXP_bout_files/

Output/EXP_timing_files/
Output/zDraft_files/
Output/EXP_relaInv_bout_files/
Output/EXP_relative_inv_files/
Output/EXP_bout_html_files/
Output/EXP_bout_files/

EXP_relaInv_cache/
EXP_cold_part_cache/
EXP_timing_cache/
zDraft_cache/
EXP_relaInv_bout_cache/
EXP_relative_inv_cache/
EXP_bout_html_cache/
EXP_bout_cache/

R/EXP_relaInv_cache/
R/EXP_cold_part_cache/
R/EXP_timing_cache/
R/zDraft_cache/
R/EXP_relaInv_bout_cache/
R/EXP_relative_inv_cache/
R/EXP_bout_html_cache/
R/EXP_bout_cache/